body {
  background-image: url("https://i.ytimg.com/vi/3f_cAy8ugvQ/maxresdefault.jpg");
  font-family: "Helvetica";
  background-size: cover;
}

#s1 {
  text-align: center;
  padding: 50px;
  margin: 20px;
}

h1 {
  color: lightBlue;
  font-family: "Times New Roman";
}

h2 {
  color: white;
}

.s2 {
  width: 80%;
  background-color: #00FFFF;
  padding: 20px;
  /* treats divs as text */
  display: inline-block;
  text-align: left;
}